<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756392437978-8fo38pm4b4rt6pkui5foib1b97v1ilo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756392437978-8fo38pm4b4rt6pkui5foib1b97v1ilo3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>756392437978-5o1th5nr3e3ul5jv3jvqa8r95a9nj7r2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDA2Lb1wUf7s8BO2Hu5peU7xwdwL8gJtXo</string>
	<key>GCM_SENDER_ID</key>
	<string>756392437978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.conner.withu.dev</string>
	<key>PROJECT_ID</key>
	<string>with-u-b3025</string>
	<key>STORAGE_BUCKET</key>
	<string>with-u-b3025.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756392437978:ios:8e0b35823eff4c9a335de3</string>
</dict>
</plist>
